@{
    ViewBag.Title = "Importar";
}

<h2 class="site-title">Importar Endereço</h2>


<form action="/" method="post" enctype="multipart/form-data" style="margin-top: 50px;">
    <input type="file" name="FileUpload1" style="width: 800px;" /><br />
    <input type="submit" name="Submit" id="Submit" value="Upload" />
</form>

<p style="font-style:italic">Formatos disponíveis: .csv e .xml</p>
