@{
    ViewBag.Title = "AlteraPerfil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="position:relative; margin-top:auto; margin-left: auto;">

    <h2 class="site-title">AlteraPerfil</h2>
</div>