@model CupcakeriaOnline.Models.ClienteModel

@{
    ViewBag.Title = "Index";
}

<div style="position:relative; margin-top:auto; margin-left: auto;">
    <h2 class="site-title">Bem vindo!</h2>

    <article>
        <ul class="round">
            <li class="title">
                @Html.ActionLink("Novo pedido", "IniciarPedido", "Pedido")
            </li>
            <li class="title">
                @Html.ActionLink("Histórico de pedidos", "Index", "Pedido")
            </li>
            <li class="title">
                @Html.ActionLink("Meus endereços", "Index", "Endereco")
            </li>
            <li class="title">
                @Html.ActionLink("Novo Endereco", "Create", "Endereco")
            </li>
        </ul>

    </article>
</div>