@if (Request.IsAuthenticated) {
    <text>
        @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })
        @using (Html.BeginForm("Logout", "Cliente", FormMethod.Post, new { id = "logoutForm" })) {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">Sair</a>
        }
    </text>
} else {
    <ul>
        <li>@Html.ActionLink("Registrar", "Registrar", "Cliente", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Entrar", "Login", "Cliente", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
