@model IEnumerable<CupcakeriaOnline.Models.AdministracaoModel>

@{
    ViewBag.Title = "Index";
}
<div style="position:relative; margin-top:auto; margin-left: auto; text-align:center">
    <div style="position:relative; margin-top:auto; margin-left: auto; text-align:center;">
        <img src="~/Images/logo.png" style="width: 100px; height: 172px;" />
        <h2 class="site-title">Bem vindo a administração<br /> da Cupcakeria Online!</h2>
    </div>
    <!--
    <article style="text-align:left; position:relative; margin-top:auto; margin-left:auto; width:100%; font-size:x-large; text-decoration:none">
        <div style="margin: 50px">
            @Html.ActionLink("Gerenciar massas", "Index", "Massa")
        </div>
        <div style="margin: 50px">
            @Html.ActionLink("Gerenciar recheios", "Index", "Recheio")
        </div>
        <div style="margin: 50px">
            @Html.ActionLink("Gerenciar coberturas", "Index", "Cobertura")
        </div>
        <div style="margin: 50px">
            @Html.ActionLink("Relatórios", "Index", "Administracao")
        </div>
    </article>
        -->
